<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button
        autoHide="false"
        class="boton-menu-blanco"
      ></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding perfil-content" *ngIf="usuarioDB">
  <ion-card class="perfil-card" color="warning">
    <ion-card-content>
      <ion-avatar class="avatar">
        <img
          [src]="capturedImage || '../../../assets/img/usuario.png'"
          alt="Foto de perfil"
        />
      </ion-avatar>
      <ion-button
        expand="block"
        fill="outline"
        color="primary"
        class="cambiar-foto-btn"
        (click)="captureImage()"
      >
        <ion-icon slot="start" name="camera-outline"></ion-icon>
        Cambiar foto de perfil
      </ion-button>

      <ion-card-title class="perfil-titulo"
        >{{ usuarioDB.usuario }}</ion-card-title
      >
      <ion-card-subtitle>
        <ion-icon name="location-outline"></ion-icon>
        {{ usuarioDB.comuna }}
      </ion-card-subtitle>

      <ng-container *ngIf="modoEdicion; else soloVista">
        <ion-item>
          <ion-label position="floating">Nuevo nombre de usuario</ion-label>
          <ion-input
            [(ngModel)]="nuevoUsuario"
            required
            minlength="4"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"
            >Nueva contraseña (4 dígitos)</ion-label
          >
          <ion-input
            [(ngModel)]="nuevaPassword"
            type="password"
            pattern="[0-9]*"
            maxlength="4"
            minlength="4"
            required
          ></ion-input>
        </ion-item>

        <ion-button expand="block" color="primary" (click)="actualizarPerfil()">
          Guardar cambios
        </ion-button>
        <ion-button expand="block" fill="outline" (click)="cancelarEdicion()">
          Cancelar
        </ion-button>
      </ng-container>

      <ng-template #soloVista>
        <ion-button expand="block" color="primary" (click)="modoEdicion = true">
          <ion-icon slot="start" name="pencil-outline"></ion-icon>
          Editar perfil
        </ion-button>

        <ion-button expand="block" color="danger" (click)="cerrarSesion()">
          Cerrar sesión
        </ion-button>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
