<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nueva Publicación</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background-style ion-padding">
  <ion-card class="registro-card">
    <ion-card-content>
      <ion-card-title>Crear Publicación</ion-card-title>

      <ion-item class="registro-input">
        <ion-label position="floating">Título</ion-label>
        <ion-input [(ngModel)]="titulo"></ion-input>
      </ion-item>

      <ion-item class="registro-input">
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea [(ngModel)]="descripcion"></ion-textarea>
      </ion-item>

      <ion-item class="registro-input">
        <ion-label position="floating">Intercambio</ion-label>
        <ion-input [(ngModel)]="intercambio"></ion-input>
      </ion-item>

      <ion-item class="registro-input">
        <ion-label>Tipo</ion-label>
        <ion-select [(ngModel)]="tipo">
          <ion-select-option value="Ofrece">Ofrece</ion-select-option>
          <ion-select-option value="Busca">Busca</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="registro-input">
        <ion-label>Categoría</ion-label>
        <ion-select
          [(ngModel)]="categoria"
          interface="popover"
          placeholder="Selecciona una categoría"
        >
          <ion-select-option value="Juguetes">Juguetes</ion-select-option>
          <ion-select-option value="Electrónica">Electrónica</ion-select-option>
          <ion-select-option value="Jardín">Jardín</ion-select-option>
          <ion-select-option value="Libros">Libros</ion-select-option>
          <ion-select-option value="Servicios">Servicios</ion-select-option>
          <ion-select-option value="Herramientas"
            >Herramientas</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item class="registro-input">
        <ion-label position="floating">Comuna</ion-label>
        <ion-input [(ngModel)]="comuna" placeholder="Ej: Maipú"></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        color="secondary"
        fill="outline"
        (click)="obtenerUbicacion()"
      >
        <ion-icon slot="start" name="navigate-outline"></ion-icon>
        Usar mi ubicación
      </ion-button>

      <ion-button
        expand="block"
        color="secondary"
        fill="outline"
        (click)="seleccionarImagen()"
      >
        <ion-icon slot="start" name="camera-outline"></ion-icon>
        Agregar Foto
      </ion-button>

      <ion-item lines="none" *ngIf="previewUrl">
        <img
          [src]="previewUrl"
          style="
            width: 100%;
            max-height: 200px;
            object-fit: contain;
            margin-top: 12px;
          "
          alt="Vista previa"
        />
      </ion-item>

      <ion-button expand="block" color="warning" (click)="publicar()">
        Publicar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
