.background-style {
  --background: linear-gradient(to bottom, #5c9ded, #a8caff);
}

.registro-card {
  background-color: #ffffff;
  border-radius: 16px;
  color: #333;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.registro-card ion-card-title {
  color: #333;
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.registro-input {
  --background: #fff8dc;
  border-radius: 8px;
  margin-bottom: 14px;
  padding-left: 8px;
  --highlight-color-focused: var(--ion-color-warning);
}

.registro-input ion-label {
  color: #333;
  font-weight: 500;
}

.registro-input ion-input,
.registro-input ion-textarea,
.registro-input ion-select {
  color: #333;
}

ion-button[color="secondary"] {
  background: transparent;
  color: var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary);
  font-weight: bold;
}

ion-button[fill="outline"] {
  --border-radius: 8px;
  font-weight: 500;
  height: 40px;
  font-size: 14px;
  --padding-start: 8px;
  --padding-end: 8px;
}

