<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button class="boton-menu-blanco"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white">Mis Publicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngFor="let pub of publicacionesPropias">
    <img [src]="pub.imagen" alt="Imagen de {{ pub.titulo }}" />

    <ion-card-header>
      <ion-card-subtitle
        >{{ pub.tipo }} / {{ pub.categoria }}</ion-card-subtitle
      >
      <ion-card-title>{{ pub.titulo }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Descripción:</strong> {{ pub.descripcion }}</p>
      <p><strong>Intercambio:</strong> {{ pub.intercambio }}</p>
      <p><strong>Ubicación:</strong> {{ pub.comuna }}</p>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="abrirModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
