<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button class="boton-menu-blanco"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white">TruequeApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card
    *ngFor="let pub of publicaciones"
    class="publicacion-card"
    (click)="verPublicacion(pub)"
  >
    <img [src]="pub.imagen" alt="Imagen del producto" />

    <ion-card-header>
      <ion-chip color="light" style="color: #000; font-weight: bold">
        {{ pub.tipo }} | {{ pub.categoria }}
      </ion-chip>
      <ion-card-title>{{ pub.titulo }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Descripción:</strong> {{ pub.descripcion }}</p>
      <p>
        <strong>{{ pub.tipo === 'Ofrece' ? 'Busca' : 'Ofrece' }}:</strong>
        {{ pub.intercambio }}
      </p>
      <p>{{ pub.usuario }} | {{ pub.comuna }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Botón lupa -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="light" (click)="abrirBusqueda()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Botón más -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="usarMiUbicacion()" color="primary">
      <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
