<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button class="boton-menu-blanco"></ion-menu-button>
    </ion-buttons>
    <ion-title>TruequeApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card
    *ngFor="let pub of publicaciones"
    class="publicacion-card"
    (click)="verPublicacion(pub)"
  >
    <img [src]="pub.imagen" [alt]="pub.titulo + ' en TruequeApp'" />

    <ion-card-header>
      <ion-chip color="primary">
        {{ pub.tipo }} | {{ pub.categoria }}
      </ion-chip>
      <ion-card-title style="text-align: center"
        >{{ pub.titulo }}</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      <p>
        <ion-icon name="document-text-outline"></ion-icon>
        <strong>Descripción:</strong> {{ pub.descripcion }}
      </p>
      <p>
        <ion-icon name="sync-outline"></ion-icon>
        <strong>{{ pub.tipo === 'Ofrece' ? 'Busca' : 'Ofrece' }}:</strong>
        {{ pub.intercambio }}
      </p>
      <p>
        <ion-icon name="location-outline"></ion-icon>
        {{ pub.usuario }} | {{ pub.comuna }}
      </p>
    </ion-card-content>
  </ion-card>

  <!-- Botón lupa -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button
      color="light"
      aria-label="Buscar publicaciones"
      (click)="abrirBusqueda()"
    >
      <ion-icon name="search-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Botón localizar -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      color="primary"
      aria-label="Usar mi ubicación"
      (click)="usarMiUbicacion()"
    >
      <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
